<br>
<div class="container-fluid">
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Mail</th>
			<th>Category</th>
			<th>Actions</th>
	    </tr>
		<tr>
			<%= form_for [:admin, @user] do |f| %>
				<td><%= f.text_field :firsname %></td>
				<td><%= f.text_field :email %></td>
				<td ><%= select("user", :category, Category.all.collect {|p| [ p.title, p.title ] }, { include_blank: true })%></td>
				<td><%= f.submit %></td>
			<% end %>	
		</tr>
	</table>
</div>